<h1><%= @artist.name %></h1>

<h2>Songs:</h2>
<ol>
<% @artist.songs.each do |s| %>
	<li><a href="/songs/<%= s.slug %>"><%= s.name %></a> (<% s.genres.each do |genre| %><%= genre.name %><% end %>) </li>
<% end %>
</ol>
<p></p>
<h2>Genres:</h2>
<ol>
<% @artist.genres.each do |g| %>
	<li><a href = "/genres/<%= g.slug %>"><%= g.name %></a></li>
<% end %>
</ol>