<form action="/songs/<%= @song.slug %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="song[name]" id="Name" value="<%=@song.name%>">
<input type="text" name="song[artist][name]" id="Artist Name" value="<%=@song.artist.name%>">

<% @genres.each do |genre| %>
    <input type="checkbox" name="song[genres][]" id="<%= genre.name %>" value="<%= genre.name %>"<%='checked' if @song.genres.include?(genre) %>><%= genre.name %></input><br>
<% end %>

<input type="submit" value="Save">
</form>